@import url(https://fonts.googleapis.com/css?family=Anton|Alegreya|Roboto+Slab);
*{
	font-family: 'Alegreya', serif;
	text-align: center;
	padding: 0;
	margin: 0;
	color: #222d2f;
	-webkit-transition: all 0.2s 0.1s ease-out;
	   -moz-transition: all 0.2s 0.1s ease-out;
		 -o-transition: all 0.2s 0.1s ease-out;
	    -ms-transition: all 0.2s 0.1s ease-out;
         	transition: all 0.2s 0.1s ease-out;
}
a,li,ul,ol{
	text-decoration: none;
	list-style: none;
	color: #fff;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Roboto Slab', serif;
	font-weight: 100;
}
h1{font-size: 500%;}
h2{font-size: 400%;}
h3{font-size: 300%;}
h4{font-size: 200%;}
h5{font-size: 100%;}
h6{font-size: 90%;}
body{
	max-width: 1600px;
	clear: both;
	background-color: #fafafa;
}
.img-responsive{
	width: 100%;
}
.mainwrapper{
	display: block;
}
.menu ul{
	box-shadow: 2px 2px 15px rgba(34,34,34,0.8);
	display: block;
	background-color: #34495e;
	width: 60%;
	margin: 0 20%;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.menu li{
	display: inline-block;
	padding: 2%;
	width: calc(29% - 4px);
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.menu li:hover{
	background-color: #2c3e50;
	-webkit-transform: rotateX(150deg);
	transform: rotateX(360deg);
}
.menu h4{
	color: #fafafa;
	font-family: 'Alegreya', serif;
	text-transform: uppercase;
}
/*#home{
	border-left: 2px solid #04200E;
}*/
#services{
	border-left: 2px solid #04200E;
	border-right: 2px solid #04200E;
}
/*#contacts{
	border-right: 2px solid #04200E;
}*/
.first{
	background-color: #2980b9;
	background-position: center;
	-webkit-background-size: 100%;
	background-size: 100%;
	display: block;
}
.first div{
	padding: 2%;
	display: inline-block;
	vertical-align: middle;
}
.logo{
	width: 35%;
}
.second{
	padding: 2%;
}
.one{
	display: block;
	text-align: center;
}
.one input{
	display: inline-block;
	width: 28%;
	padding: 10px;
	border-radius: 20px;
	margin: 2% 1%;
	border: 2px solid rgba(34,34,34,0.6);
	font-size: 150%;
	text-align: left;
}
textarea{
	text-align: left;
	width: 94%;
	margin: 1% 3%;
	padding: 10px;
	border-radius: 20px;
	border: 2px solid rgba(34,34,34,0.6);
	font-size: 150%;
	min-height: 120px;
}
#submit{
	cursor: pointer;
	padding: 1% 5%;
	font-size: 120%;
	border-radius: 20px;
	border: 2px solid rgba(34,34,34,0.6);
	background-color: #2980b9;
	margin: 0 3%;
}
#submit:hover{
	background-color: #4aa3df;
}
#map{
	min-height: 400px;
	width: 100%;
}
.third{
	padding: 3%;
	display: block;
	background-color: #222d2f;
}
.third h4{
	font-size: 150%;
	margin: 2% 0;
}
.third *{
	color: #fff;
}
.third div{
	padding: 2%;
	width: 26%;
	vertical-align: middle;
	display: inline-block;
}
.social ul{
	display: block;
}
.social li{
	display: inline-block;
	border-radius: 50%;
	width: 20%;
	margin: 2% 5px;
}
.social li img{
	border-radius: 30%;
}