@import url(https://fonts.googleapis.com/css?family=Anton|Alegreya|Roboto+Slab);
*{
	font-family: 'Alegreya', serif;
	text-align: center;
	padding: 0;
	margin: 0;
	color: #222d2f;
	-webkit-transition: all 0.2s 0.1s ease-out;
	   -moz-transition: all 0.2s 0.1s ease-out;
		 -o-transition: all 0.2s 0.1s ease-out;
	    -ms-transition: all 0.2s 0.1s ease-out;
         	transition: all 0.2s 0.1s ease-out;
}
a,li,ul,ol{
	text-decoration: none;
	list-style: none;
	color: #fff;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Roboto Slab', serif;
	font-weight: 100;
}
h1{font-size: 500%;}
h2{font-size: 400%;}
h3{font-size: 300%;}
h4{font-size: 200%;}
h5{font-size: 100%;}
h6{font-size: 90%;}
body{
	max-width: 1600px;
	clear: both;
	background-color: #fafafa;
}
.img-responsive{
	width: 100%;
}
.mainwrapper{
	display: block;
}
.menu ul{
	box-shadow: 2px 2px 15px rgba(34,34,34,0.8);
	display: block;
	background-color: #34495e;
	width: 60%;
	margin: 0 20%;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.menu li{
	display: inline-block;
	padding: 2%;
	width: calc(29% - 4px);
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.menu li:hover{
	background-color: #2c3e50;
	-webkit-transform: rotateX(150deg);
	transform: rotateX(360deg);
}
.menu h4{
	color: #fafafa;
	font-family: 'Alegreya', serif;
	text-transform: uppercase;
}
/*#home{
	border-left: 2px solid #04200E;
}*/
#about{
	border-left: 2px solid #04200E;
	border-right: 2px solid #04200E;
}
/*#contacts{
	border-right: 2px solid #04200E;
}*/
.first{
	background-color: #2980b9;
	background-position: center;
	-webkit-background-size: 100%;
	background-size: 100%;
	display: block;
}
.first div{
	padding: 2%;
	display: inline-block;
	vertical-align: middle;
}
.logo{
	width: 35%;
}
.welcome{
	padding: 2%;
	background-color: #222d2f;
}
.welcome span{
	color: #fafafa;
	padding-bottom: 5px;
	border-bottom: 2px solid #fafafa;
	font-family: "Roboto Slab",serif;
}
.welcome h4{
	color: #fafafa;
	font-size: 120%;
	text-align: justify;
	padding: 4%;
}
.second{
	padding: 2%;
}
.title h1{
	text-align: center;
	padding-bottom: 5px;
	border-bottom: 2px solid #333;
}
.content{
	display: block;
}
.content div{
	display: inline-block;
	vertical-align: middle;
}
.left{
	width: 20%;
}
.left h4{
	text-align: center;
	padding: 4%;
	background-color: #2980b9;
	border-radius: 20px;
	text-transform: uppercase;
	color: #fff;
}
.left h4:hover{
	background-color: #4aa3df;
}
.right{
	width: 79%;
}
.right h4{
	font-size: 250%;
	text-align: justify;
	padding: 4%;
}
.next{
	display: block;
	padding: 2%;
	background-color: #2980b9;
}
.next div{
	display: inline-block;
	width: 30%;
	margin: 1%;
	vertical-align: top;
}
.next h2{
	padding: 3%;
	border-radius: 20px;
}
.one h2{
	background-color: #c0392b;
}
.two h2{
	background-color: #27ae60;
}
.three h2{
	background-color: #f39c12;
}
.next h4{
	padding: 2%;
	text-transform: uppercase;
	color: #fafafa;
}
.banner{
	padding: 3%;
	background-color: #7f8c8d;
}
.banner h4{
	text-align: justify;
	color: #fff;
}
.third{
	padding: 3%;
	display: block;
	background-color: #222d2f;
}
.third h4{
	font-size: 150%;
	margin: 2% 0;
}
.third *{
	color: #fff;
}
.third div{
	padding: 2%;
	width: 26%;
	vertical-align: middle;
	display: inline-block;
}
.social ul{
	display: block;
}
.social li{
	display: inline-block;
	border-radius: 50%;
	width: 20%;
	margin: 2% 5px;
}
.social li img{
	border-radius: 50%;
}
.top{
	cursor: pointer;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 12px;
	right: 12px;
	background-color: #2980b9;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 2px 2px 5px rgba(34,34,34,0.8);
}
.top:hover{
	background-color: #4aa3df;
	box-shadow: 2px 2px 5px rgba(34,34,34,1);
}